<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img
        class="headerimage"
        src="  https://plus.unsplash.com/premium_photo-1668902223843-952557f21732?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
    /></a>
    <div>
      <a class="Booking" routerLink="/cart">Booking</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/hotels"data-bs-toggle="collapse"
  data-bs-target=".navbar-collapse.show"
            > Hotels</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contactus"data-bs-toggle="collapse"
  data-bs-target=".navbar-collapse.show"
            >Rooms</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/location"data-bs-toggle="collapse"
  data-bs-target=".navbar-collapse.show"
            > Location</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
