:host {
  background-color: #2c3e50;
  display: block;
  min-height: 100vh;
}

/* Main section container */
.room-section {
  padding-top: 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
  align-items: center;
  background-color: #2c3e50;
  min-height: 100vh;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.row {
  margin: 0;
}


.filter-form .form-label {
  font-weight: 600;
  color: #495057;
}

.filter-form .form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filter-form .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.filter-form .btn {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border-radius: 8px;
}

/* Room card container */
.room-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Room card style */
.room-card {
  background-image: url("https://plus.unsplash.com/premium_photo-1675620963970-41055a7d6cfc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2VhfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.85);
}

.room-card h4 {
  color: #114d02;
}

.room-card p {
  margin-bottom: 10px;
  font-weight: bolder;
}

/* Carousel tweaks */
.carousel-inner img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: white;
}
